body,
html {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background: url(./images/hand.jpg) repeat center center fixed;
  background-size: cover;
}

#vanta {
  z-index: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

main {
  position: relative;
  opacity: 0;
  filter: blur(10px);
  transition:
    opacity 2s ease-in-out,
    filter 2s ease-in-out;
}

.profile {
  margin-top: min(200px, 10vh);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div>img {
  width: 70%;
  height: 70%;
  max-width: 350px;
  border-radius: 85%;
  box-shadow: rgb(28 28 100 / 24%) 0px 0px 2px 2px;
}

div>h1 {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  border-radius: 1em;
  /* opacity: 0.7; */
  color: #fff;
  padding: 0.2em 0.5em;
  margin-top: 1.2em;
  border: 1px solid #fffa;
  backdrop-filter: blur(10px) saturate(140%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(140%) contrast(180%);
}

ul {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  list-style: none;
  margin: 0 auto;
  padding: 1em 2em 1em 2em;
  position: relative;
  max-width: 500px;
}

ul>li {
  background-color: #fffa;
  backdrop-filter: blur(10px) saturate(180%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%) contrast(180%);
  border-radius: 16em;
  box-shadow: rgb(28 28 100 / 10%) 0px 0px 12px 2px;
  padding: 0.6em;
  margin: 0.7em 5%;
}

ul>li:hover {
  box-shadow: rgb(28 28 100 / 24%) 0px 0px 12px 2px;
  background-color: #fffd;
}

ul>li:nth-child(1) {
  position: absolute;
  top: -120%;
  left: 20%;
}

ul>li:nth-child(2) {
  position: absolute;
  top: -10%;
  right: 34%;
}

ul>li:nth-child(3) {
  position: absolute;
  bottom: -10vh;
  right: 44%;
  transform: scale(0.7);
}

ul>li:nth-child(4) {
  position: absolute;
  top: -180%;
  right: 15%;
  transform: scale(0.7);
}

ul>li:nth-child(5) {
  position: absolute;
  bottom: -20vh;
  right: 38%;
  transform: scale(0.7);
  background-color: #fff0;
  box-shadow: #0000 0px 0px 12px 2px;
  text-align: center;
}

ul>li:nth-child(5):hover {
  background-color: #fff0;
  transform: scale(0.75);
}


ul>li>a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* color: inherit; */
  width: 2em;
  height: 2em;
}

a {
  color: #360060;
  font-size: 0.7em;
  text-decoration: none;
  text-align: right;
}